{% include 'header.html' %}
<div class="container text-center">
  {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %}
</div>
<h2 class="text-center">Customer Login</h2>
<form method="POST" class="text-center">
  {% csrf_token %}
  <label>Email:</label>
  <input type="email" name="admin_email" required /><br /><br />

  <label>Pass :</label>
  <input type="password" name="admin_password" required /><br /><br />

  <button type="submit" class="btn btn-success">Login</button><br />
</form>

{% if error %}
<p style="color: red" class="text-center">{{ error }}</p>
{% endif %}
