{% include 'header.html' %}
<div class="container text-center">
  {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %}
</div>
<h2 class="text-center">Customer Registration</h2>
<form method="POST" class="text-center">
  {% csrf_token %}
  <label>Name:</label>
  <input type="text" name="c_name" required /><br /><br />

  <label>Mobile:</label>
  <input type="text" name="c_mobile" required /><br /><br />

  <label>Email:</label>
  <input type="email" name="c_email" required /><br /><br />

  <label>Password:</label>
  <input type="password" name="c_pass" required /><br /><br />

  <button type="submit" class="btn btn-success">Register</button><br />
</form>

{% if error %}
<p style="color: red" class="text-center">{{ error }}</p>
{% endif %}
